---
import Layout from '../layouts/Layout.astro';
import Badge from '../components/Badge.astro';
---

<Layout title="Welcome to Astro.">
	<main class="w-full lg:w-[740px] py-44 flex flex-col items-start">
		<h1 class="text-white font-bold text-left text-5xl flex justify-center flex-row">
			Hey, soy Rony
			<div class="flex justify-center items-center ml-4">
				<Badge>
					Disponible para trabajar
				</Badge>
			</div>
		</h1>

		<h2 class="text-xl mt-6 opacity-80">
			+5 Años de experiencia. Desarrollador web y estudiante.
			De Mexico 🇲🇽. Especializado en crear aplicaciones unicas.
		</h2>
	</main>
</Layout>
