---

---

<header class="flex justify-between py-5 w-[1120px]">
    <img class="w-12 h-12 rounded-full block" src="https://avatars.githubusercontent.com/u/47135307?v=4" alt="">
    <nav class="flex items-center gap-x-10 opacity-80">
        <a href="">Home</a>
        <a href="">About</a>
        <a href="">Projects</a>
        <a href="">Contact</a>
    </nav>
</header>